@import url('https://fonts.googleapis.com/css?family=Century+Gothic');
body,html{
    font-family: CenturyGothic;
    padding:0;
    margin:0;
}
body{
    background-image: url('../images/Homepage-assets/background.jpg');
}
.container{
    width: 980px;
}
img { max-width: 100%; height: auto; display: block; margin: 0 auto; }

ul{
    text-decoration: none;
    list-style: none;
}
h1,h2,h3{
    color:#ff6900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
h1{
    font-size:31px;    
}
h2{
    font-size: 24px;
}
h3{
    font-size: 14px;
}
.row{
    margin:0 !important;
}
/* HEADER */
.header{
    height: 105px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}
.header .logo{
    float:left;
}

.search-list{
    float:right
}
.search-list .item{
    float:left;
    padding-left:10px;
}
.search-bar .search-list li:first-child{
    padding-right:10px;
    border-right:1px solid #b2b2b2
}
.search-list .item .input-group input{
    height: 23px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.004);
}
.search-icon{
    position: absolute;
    right: 0;
    z-index: 999;
    background: none;
    color:#b99e64;
    height: 23px;
    display: table-cell;
    vertical-align: middle;
}
.search-icon button{
    background:none;
    height: 23px;
    border-left: solid 1px #ccc;
}
.search-icon button i{
    top:-2px;
}

/* NAVIGATION */

.navigation{
    position: relative;
}
.menu{
    margin:0;
    padding-left:0px;
    height:41px;
}
.menu .item{
    float:left;
    width:16.666667%;
    text-align: center;
    font-size:15px;
}
.menu .item a{
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 41px;
  text-decoration: none;
  text-shadow: 0px -2px 0px rgba(255, 138, 0, 0.004);
}
.navigation .row{
    background:#ffb200;
    border-radius:5px;
}

/* HERO */

.hero{
    background: url('../images/Homepage-assets/herofuture.jpg') no-repeat center;
    background-size: cover;
    height:307px;
    display: table;
    vertical-align: bottom;
    margin-top:20px;
    border-radius: 6px;
}
.hero .row{
    display: table-cell;
    vertical-align: bottom;
}
.hero .row .wrapper{
    color: #ccc;
    background:black;  
    width:100%;  
    padding: 10px 10px 15px 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius:6px;
    display: table;
    vertical-align: middle;
}   
.hero .row .wrapper .text{
    width:83.3333%;
    float:left;
}
.hero .row .wrapper .image{
    float:right;
    width:16.6667%;
}
.hero .row .wrapper .image ul{
    margin-top:14px;
    float:right;
    padding:0;
}
.image ul .item{
    float:left;
    margin-left:10px;
}
.image ul .item button{
    height:22px;
    background-color: #6b685e;
    color:#cbcbcb;
    border-radius:50%;
    box-shadow: inset 0.616px -0.788px 0px 0px rgba(192, 186, 166, 0.75);
}
.image ul .item .active{
    background-color: #ff9800;
    color:white;
    box-shadow: inset 0.616px -0.788px 0px 0px rgba(192, 186, 166, 0.75);
}
.Shape_8 {
  background-color: rgb(107, 104, 94);
  box-shadow: inset 0.616px -0.788px 0px 0px rgba(192, 186, 166, 0.75);
  position: absolute;
  left: 1001px;
  top: 436px;
  width: 117px;
  height: 22px;
  z-index: 37;
}
