@font-face {
    font-family: "CenturyGothic";
    src: url('../ufonts.com_century-gothic.ttf') format("truetype");
}
body,html{
    font-family: CenturyGothic;
    padding:0;
    margin:0;
}
body{
    background-image: url('../images/Homepage-assets/background.jpg');
}
.container{
    width: 980px;
    padding:0;
}
img { max-width: 100%; height: auto; display: block; margin: 0; }

ul{
    text-decoration: none;
    list-style: none;
    padding:0;
}

h1,h2,h3{
    color:#ff6900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
h1{
    font-size: 27.462px;
    line-height: 0.793;  
    font-weight: bold;
}
h2{
    font-size: 21px;
    font-weight: bold;
    line-height: 0.667;
}
h3{
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    line-height: 1.273;
}
p{
    font-family: Arial;
    font-size:11px;
    line-height: 1.636;
    margin:0;
}
.row{
    margin:0 !important;
    clear:both;
}
.row:after, .row:before {
    display: table;
    content: " ";
}




/* HEADER */
.header{
    height: 105px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}
.header .logo{
    float:left;
}

.search-list{
    float:right
}
.search-list .item{
    float:left;
    padding-left:10px;
}
.search-bar .search-list li:first-child{
    padding-right:10px;
    border-right:1px solid #b2b2b2
}
.search-list .item .input-group input{
    height: 23px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.004);
}
.search-icon{
    position: absolute;
    right: 0;
    z-index: 999;
    background: none;
    color:#b99e64;
    height: 23px;
    display: table-cell;
    vertical-align: middle;
}
.search-icon button{
    background:none;
    height: 23px;
    border-left: solid 1px #ccc;
}
.search-icon button i{
    top:-2px;
}

/* NAVIGATION */

.navigation{
    position: relative;
}
.menu{
    margin:0;
    padding-left:0px;
    height:41px;
}
.menu .item{
    float:left;
    width:16.666667%;
    text-align: center;
    font-size:15px;
}
.menu .item a{
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 41px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #000;
}
.navigation .row{
    background:#ffb200;
    border-radius:5px;
}

/* HERO */

.hero{
    background: url('../images/Homepage-assets/herofuture.jpg') no-repeat center;
    background-size: cover;
    height:307px;
    display: table;
    vertical-align: bottom;
    margin-top:20px;
    border-radius: 6px;
}
.hero .row{
    display: table-cell;
    vertical-align: bottom;
}
.hero .row .wrapper{
    color: #ccc;
    background:black;  
    width:100%;  
    padding: 10px 10px 15px 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius:6px;
    display: table;
    vertical-align: middle;
}   
.hero .row .wrapper .text{
    width:83.3333%;
    float:left;
}
.hero .row .wrapper .image{
    float:right;
    width:16.6667%;
}
.hero .row .wrapper .image ul{
    margin-top:14px;
    float:right;
    padding:0;
}
.image ul .item{
    float:left;
    margin-left:10px;
}
.image ul .item .button{
    
    padding: 10px;
    font-family: "Arial";
    font-weight: bold;
    background-color: #6b685e;
    color:#cbcbcb;
    cursor: pointer;
    line-height: 2.917;
    border-radius:100%;
    box-shadow: inset 0.616px -0.788px 0px 0px rgba(192, 186, 166, 0.75);
    box-shadow: outset 1px rgba(192, 186, 166, 0.75);
}

.image ul .item .button:hover{
    text-decoration: none
}
.image ul .item .active{
    background-color: #ff9800;
    color:white;
    box-shadow: inset 0.616px -0.788px 0px 0px rgba(192, 186, 166, 0.75);
}


/* WELCOME */
.welcome{
    margin-top:20px;
    background:#dfdfdf;
    border-radius: 5px;
}
.left-welcome{
    margin:0;
    padding-left: 10px;
    width:69.89%;
    float:left;
}
.right-welcome{
    margin:10px;
    width:28%;
    float:left;
}
.right-welcome img{
    float:right;
}


/* NEWS & EVENTS AND PARTNERS */
/* NEWS & EVENTS */
.newandpartner{
    margin-top:20px;
}
.newevent{
    background:#dfdfdf;
    border-radius: 5px;
    width:49%;
    float:left;
}

.newevent .title{
    color:#ff9800;
    font-weight: bold;
    line-height: 1.273;

}
.newevent .title time{
    float:right;
    color:#666666;
    padding-left:7px;
    border-left:1px solid #666666;
}
.newevent-title{
    padding:0 10px;
    border-bottom: 1px solid white;
}
.newevent-title h2{
    margin-top:10px;
    float:left;
}
.newevent-title a{
    line-height: 34px;
    float:right;
}
.newevent-ongoing{
    margin: 20px 10px 10px 10px !important;
    padding: 10px 10px 3px 10px;
    border-radius: 5px;
    background: #f0eeee;
    border: 1px solid white;
    box-shadow: inset 0px 0.3px 4px #000;
}
.newevent-ongoing img{
    float:left;
    border-radius: 5px;
}
.newevent-ongoing .text{
    padding-left:143px;
}
.newevent-more{padding:10px;}
.newevent-more  ul{ list-style: none;padding:0 10px 10px 0 ;  margin:0;  }
.newevent-more li{position: relative;padding-left:15px;}
.newevent-more  li:before { content: "\2022"; position: absolute;top:0;left:0; padding-right:7px;float:left; }
.partners{
    background:#dfdfdf;
    border-radius: 5px;
    margin-left:20px;
    width:48.9%;
    float:right;
}

/* PARTNERS */

.image-demo{
    padding:20px 25px 20px 25px;
}
.image-demo ul{
    padding:0;
    margin:0;
}
.image-demo ul li{
    float:left;
    margin-left:20px;
    margin-bottom:20px;
}

/* FOOTER */

.footer-wrap{
    background:#dfdfdf;
    color:#666666;
    margin-top:20px;
    border-radius: 5px;
}
.fsidebar{
    border-bottom: 1px solid white;
}
.fsidebar .row div{
    margin-left: 10px;
}
.fsidebar .row div h3:first-child{
    color:black;
}
.fsidebar .row div ul li{
    margin-bottom: 10px;
}
.contact{
    width:32%;
    float:left;
}
.quicklink{
    width:32%;
    float:left;
}
.newsletter{
    width:32%;
    float:left;
}
.newsletter input{
    height: 26px;
    margin-top:10px;
    border-radius:5px;
    box-shadow: 0px 0px 3px 0 #000;
}
.newsletter-btn{
  color: white;
  font-weight: bold;
  background:#ffb200;
  text-transform: uppercase;
  line-height: 26px;
  text-shadow: 0px -1px 0px #000;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 0 #666666
}
.footer{
    padding:10px;
}
.footer-left{
    float:left;
}
.footer-left a{
    color:black;
    padding:0 10px;
    border-right:1px solid black;
    text-decoration: none;
}
.footer-left a:first-child{
    padding-left:0;
}
.footer-left a:last-child{
    border-right:none;
}
.footer-right{
    float:right;
}